@model EmployeeManagementApp.Models.Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

@if (TempData["insert_success"] != null) 
 { 
     <div class="alert alert-success"> 
         @TempData["insert_success"] 
     </div> 
 }

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post"> 
             <div> 
                 <label for="Id">Department ID</label> 
                 <input type="text" id="Id" name="Id" value="@Model.Id" hidden /> 
             </div> 
             <div> 
                 <label for="Name">Department Name</label> 
                 <input type="text" id="Name" name="Name" required /> 
             </div> 
             <button type="submit">Create</button> 
         </form>
    </div>
</div>


@section Scripts { 
     <partial name="_ValidationScriptsPartial"   /> }